<ion-app >
  <ion-menu side="end" menuId="first" contentId="main" class=" ion-text-center" style="background-color: white;" >
    <ion-header>
      <ion-toolbar color="blossom">
        <ion-title class="menu-style-text">Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="menu-text">

      <ion-list class="menu-text" >
          <ion-menu-toggle auto-hide="false" >
          <ion-item >
            <ion-badge color="primary" style="display:flex;">1</ion-badge>
        <p class="menu-style-text">
           Navegar
        </p>
          </ion-item>

          <ion-item>
            <ion-badge color="primary">2</ion-badge>
            <p  class="menu-style-text">
              Entrar
            </p>
          </ion-item>
          <ion-item>
            <ion-badge color="primary">3</ion-badge>
            <p  class="menu-style-text">
              Cadastrar
            </p>
          </ion-item>
          <ion-item>
            <ion-badge color="primary">4</ion-badge>
            <p  class="menu-style-text">
              Suporte
            </p>
          </ion-item>
          </ion-menu-toggle>

        </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
