.body{
  height: max-content;
  border-top: 1px solid gray;
}

.footer-text p{
  text-align: start;
  font-size: 16px;
    letter-spacing:-0.02em;
    font-weight:600;
    color: black;
    line-height:28px;
}

.footer-text a{
  text-decoration:none;
  font-size:12px;
  letter-spacing:-0.02em;
  font-weight:300;
  color: black;
  line-height:23px;
  text-align: center !important;
}

