
<div class="body">
  <ion-grid >
  <ion-row class="footer-text">
    <ion-col size="6">
      <p>Atendimento</p>
      <a href="" >
        Contato
        <br>
        Duvidas
        <br>
        Opções de cancelamento
      </a>     
    </ion-col>
    
    <ion-col size="6">
      <p style="padding-right: 10px;">Comunidade</p>
      <a href="">
        Experiências
        <br>
        Nossa ong
        <br>
        Faça parte
      </a>     
    </ion-col>
    <ion-col size="6" >
      <p >Sobre</p>
      <a href="">
        Quem somos?
        <br>
        Nosso futuro
        <br>
        Fundadores
      </a>  
    
    </ion-col>   
    <ion-col size="6" >
      <p >Anfitrião</p>
      <a href="">
        Como participar?
        <br>
        Porque participar
        <br>
        Depoimentos
      </a>  
    
    </ion-col> 
  </ion-row>
</ion-grid>

</div>

