
<div class="header ion-text-center" style="padding: 0px 0px 24px 0px ; ">
<ion-searchbar class="header-search"  color="light" placeholder="Buscar" >
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false" color="primary"></ion-menu-button>
  </ion-buttons>
  <ion-fab horizontal="end" vertical="top" style="padding-left: 40px !important; " >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  </ion-searchbar>

<ion-card class="card-help ion-text-center ion-align-items-center ion-justify-content-center"   >
<div class="texto-anuncio">
<span >

  Qualquer lugar ,temos uma casa esperando por você
</span>
<div class="ion-text-center ">
  <button class="btn-anuncio">
    <span>Saiba mais</span>
  </button>
</div>
</div>

</ion-card>

</div>
