/* Body */

.header{
    background-color: #000000;
    background-size: 100%;
    }



    /*searchbar*/

.header-search {
  padding: 5px 100px 24px 50px;
  opacity: .6;
}

.header-search:hover{ /* destaque opacity */
  opacity: 1;
  border-color: purple;
  border-width: 3px;
}

.card-help{
background-color: rgb(255, 56, 92);

      /* Fonte Anuncio */
    font-size: 25px;
    letter-spacing:-0.02em;
    font-weight:600;
    color: white;
    line-height:28px;


margin: 0px  24px  0px  24px;
min-width: 0px !important;
min-height:280px ;
border-radius: 10px;

  /* alinhamento */
  display: flex; align-items: center; justify-content: center;
}

.btn-anuncio{
  width: 104,4px;
  height: 38px;
  color: #fff;
  text-decoration: none !important;
  border: red !important;
  border-width: 1px !important;
  background-color: transparent;
  font-size: 14px !important;
  padding: 24px;
}

.texto-anuncio{
  text-align: center;
  margin:0 auto;
}
