
    /* FILL DO destaque-BODY */
    .destaque-body .destaque-body-fill{
        background: linear-gradient(to bottom, #000 0%, #000 50%, #fff 50%, #fff 50%);

    }

    .destaque-img img{
        border-radius: 10px;
    }

    .destaque-img{
        margin: 0px  24px  0px  24px;
    }

   /* Title */

   .destaque-body ion-card-title{
    font-size: 25px;
    letter-spacing:-0.02em;
    font-weight:600;        
    color:white;
    line-height:28px;
    height: 40px;
    padding-top: 0px;
   }

    .destaque-title{
      /* alinhamento */
  display: flex; align-items: center; justify-content: center;
    }
