<div class="destaque-body" style="display: flex;" >
  <div class="destaque-body-fill"  style="max-height: max-content;">


    <ion-card slot="start" class="ion-text-center aleatorio-img" color="dark" >
      <ion-card-title class="destaque-title" >
        Alugue lugares incríveis
      </ion-card-title>
       <ion-img src="assets/home/destaque/cabana.jpg"></ion-img>
     </ion-card>

   </div>

 </div>


