
<div >
<p class="destino-title">
  Qualquer lugar do mundo como casa
</p>
<ion-grid>
  <ion-row>
    <ion-col>

      <div class="aleatorio-body" style="display: flex;">
        <div class="aleatorio-body-fill">
          <ion-card slot="center" class="ion-text-center destino-img" color="dark">
             <ion-img src="assets/home/destino/suica.jpg"></ion-img>
             <ion-card-subtitle style="color: white;">
              <p>Suiça <br>
              O velho mundo
              </p>
            </ion-card-subtitle>
           </ion-card>

         </div>

       </div>
    </ion-col>
    <ion-col>

<div class="aleatorio-body " style="display: flex;">
  <div class="aleatorio-body-fill">
    <ion-card slot="center" class="ion-text-center destino-img" color="dark">
       <ion-img src="assets/home/destino/alaska.jpg"  ></ion-img>
      <ion-card-subtitle  style="color: white;">
        <p>alaska <br>
        Um mundo magico
        </p>
      </ion-card-subtitle>
     </ion-card>
   </div>
 </div>
    </ion-col>


  </ion-row>
</ion-grid>
</div>


