

  .destino-img ion-img {
      border-radius: 10px;
  }


/* Title */

.destino-title{
  text-align: center;
  font-size: 20px;
  letter-spacing:-0.02em;
  font-weight:600;
  color: black;
  line-height:28px;
  padding-bottom: 0px;
}


