

<ion-content [fullscreen]="true"  >

<app-header></app-header>
<app-destaque></app-destaque>
<app-destino ></app-destino>
<app-anfitriao></app-anfitriao>
<app-imoveis></app-imoveis>
<app-footer></app-footer>


</ion-content>
