
<h5 class="anfitriao-title-top">
  Seja um locador
</h5>
<div>
  <ion-grid>
      <ion-row>
          <ion-col size="6" class="anfitriao-img"  >
              <img src="assets/home/anfitriao/anfitriao.jpg"   >
          </ion-col>
          <ion-col size="6" class="anfitriao-title">
            <p class="ion-text-center">
              Que tal um renda extra?
              <button class="btn-anfitriao ion-text-center">
                Saiba mais
              </button>
            </p>
          </ion-col>
      </ion-row>

  </ion-grid>

</div>

