
  .anfitriao-title-top{
    font-size: 25px;
    letter-spacing:-0.02em;
    font-weight:600;
    color: black;
    line-height:28px;
    display: flex; align-items: center; justify-content: center;
  }


  .anfitriao-img img{
    border-radius: 10px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    width: max-content;
    height: max-content;
  }
  .anfitriao-img{
    padding: 0px !important;
    display: flex; align-items: center; justify-content: center;
  }

  .anfitriao-title{
    /* alinhamento */
display: flex; align-items: center; justify-content: center;
font-size: 16px;
letter-spacing:-0.02em;
font-weight:600;
color:white;
line-height:28px;
background-color: rgb(188, 26, 110);
border-radius: 10px;
border-bottom-left-radius: 0px;
border-top-left-radius: 0px;

  }


.btn-anfitriao{

  color: #fff;

  border: 1px white solid !important ;
border-radius: 5px;
  background-color: transparent;
  font-size: 14px !important;
  text-align: center;

}
