<div>
  <h1 class="imoveis-title" >Sempre um ao seu estilo</h1>
    <ion-slides pager="true" [options]="slideOpts" style="color: black;" class="slide-text-img slide-img">
      <ion-slide  >
        <div>
          <img src="assets/home/imoveis/imoveis1.jpg" >
          <p style="margin-bottom: 5px;">
            Casa em São Paulo
          </p>
          <p style="padding-bottom: 10px;margin-top: 0px;">
            <ion-badge>
              R$ 7500
            </ion-badge>
          </p>

        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <img src="assets/home/imoveis/imoveis1.jpg" >
          <p style="margin-bottom: 5px;">
            Casa em Santos
          </p>
          <p style="padding-bottom: 10px;margin-top: 0px;">
            <ion-badge>
              R$ 10000
            </ion-badge>
          </p>

        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <img src="assets/home/imoveis/imoveis1.jpg" >
          <p style="margin-bottom: 5px;">
            Casa em Roma
          </p>
          <p style="padding-bottom: 10px;margin-top: 0px;">
            <ion-badge>
              R$ 3000
            </ion-badge>
          </p>

        </div>
      </ion-slide>
    </ion-slides>
 
</div>