.imoveis-title{
    font-size: 25px;
    letter-spacing:-0.02em;
    font-weight:600;
    color: black;
    line-height:28px;
    display: flex; align-items: center; justify-content: center;
}




.text-img p{
    display: flex; align-items: center; justify-content: center;
font-size: 16px;
letter-spacing:-0.02em;
font-weight:600;
color:white;
line-height:28px;

}

.slide-img img{
    height: 200px;
    width: 100%;
    display: flex; align-items: center; justify-content: center;
    border-radius: 10px;
}

